:root {
  --main-bg: rgb(46, 43, 65);
  --elem-bg: rgb(62, 68, 83);
  --blue: rgb(39, 160, 175);
  --red: rgb(236, 52, 42);
  --green: rgb(42, 167, 104);
  --darkGreen: rgb(46, 136, 81);
  --yellow: rgb(243, 149, 13);
  --darkOrange: rgb(154, 96, 0);
}
html {
  font-size: 100%;
}
body {
  background: var(--main-bg);
  font-size: 0.875rem;
}
.legend ul {
  list-style-type: none;
  margin: 10px 0 0 0;
}
.legend li {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 5px;
  margin: 0 10px;
  color: #fff;
}
.legend .mergable {
  background: var(--green);
}
.legend .old {
  background: var(--darkOrange);
}
.legend .teamFilter {
  border: 1px solid var(--yellow);
}
.legend .teamFilter span {
  font-weight: bold;
  color: var(--yellow);
}
.config {
  background: #c8ccd4;
  padding: 10px;
}
.config .app-name {
  text-align: center;
}
.config .app-name img {
  width: 50px;
}
.config ul {
  list-style-type: none;
}
.config li {
  margin: 10px 0;
  display: flex;
}
.config li.hidden {
  display: none;
}
.config span {
  margin: 0 10px;
  font-size: 0.875rem;
}
.config input {
  min-width: 300px;
  padding: 5px;
}
.config select {
  min-width: 312px;
  height: 25px;
}
.config .button {
  display: inline-block;
  background: var(--green);
  color: #fff;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}
.all-repos-wrap {
  display: flex;
}
.all-repos-wrap > div {
  flex-grow: 1;
  flex-basis: 0;
}
.all-repos-wrap.horizontal {
  flex-direction: column;
}
.repo-heading {
  background: var(--blue);
  color: #fff;
  padding: 10px;
  margin: 10px 0;
}
.show {
  display: inline-block;
  background: var(--yellow);
  color: #fff;
  padding: 6px;
  cursor: pointer;
  border-radius: 50px;
  margin: 5px 10px;
  position: absolute;
  right: 30px;
  top: 0;
  z-index: 999;
  border: 2px solid #975f00;
  text-shadow: 0 -1px 0 #975f00;
  font-weight: bold;
}
.hide {
  display: inline-block;
  background: var(--red);
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border-radius: 50px;
  position: absolute;
  right: 10px;
}
.pull-request-wrap {
  background: var(--elem-bg);
  border-radius: 5px;
  margin: 25px 10px;
  color: #fff;
  padding: 5px;
  padding-top: 20px;
  position: relative;
}
.react-tooltip-lite {
  background: #fff;
  border-color: #fff;
  color: #000;
  border-radius: 50px;
}
.react-tooltip-lite-arrow {
  border-color: #fff;
}
.pull-request-reivew-tooltip {
  display: inline-block;
}
.pull-request-wrap.old {
  background: var(--darkOrange);
}
.config .old {
  background: var(--darkOrange);
  color: #fff;
}
.pull-request-wrap.mergeable {
  background: var(--darkGreen);
}
.pull-request-meta {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: var(--blue);
}
.pull-request-title {
  font-size: 1rem;
}
.pull-request-state {
  font-size: 0.5rem;
  font-weight: bold;
  color: var(--green);
  border: 1px solid var(--green);
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}
.pull-request-ago {
  color: #72deef;
}
.pull-request-number {
  display: inline-block;
  font-size: 0.875rem;
  padding: 5px;
  background: var(--blue);
  text-decoration: underline;
  color: #fff;
  margin-right: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.pull-request-number a {
  color: #fff;
}
.pull-request-number a:hover {
  text-decoration: none;
}
.pull-request-user {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 10px;
  position: absolute;
  top: -20px;
  left: -10px;
  border: 5px solid var(--elem-bg);
  border-radius: 30px;
}
.pull-request-user img {
  width: 100%;
  border-radius: 30px;
}
.pull-request-review {
  display: inline-block;
  position: relative;
  width: 26px;
  height: 26px;
  border-radius: 26px;
  box-shadow: 0px 0px 80px var(--blue);
  margin: 0 10px;
}
.pull-request-review img {
  width: 100%;
  border-radius: 26px;
}
.pull-request-review .overlay {
  position: absolute;
  border-radius: 26px;
  width: 100%;
  height: 100%;
  top: -4px;
  left: -4px;
}
.review_comments {
  display: inline-block;
  background: #353535;
  color: #fff;
  padding: 5px;
  border-radius: 10px;
  margin: 0 2px;
}
.pull-request-review.CHANGES_REQUESTED .overlay {
  animation: colorchange1 2s ease infinite;
  border: 4px solid var(--yellow);
}
.pull-request-review.APPROVED .overlay {
  animation: colorchange2 2s ease infinite;
  border: 4px solid var(--green);
}
.reviews-loading {
  width: 34px;
  height: 34px;
}
.no-reviews {
  display: inline-block;
  background: var(--red);
  text-shadow: 0px 0px 1px #753040;
  box-shadow: 0px 0px 30px var(--red);
  color: #fff;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
}
.error {
  padding: 30px;
  color: #fff;
  font-weight: bold;
  background: var(--red);
  box-shadow: 0 30px 300px var(--red);
}
@keyframes colorchange1 {
  0%   {background: none;}
  50%  {background: var(--yellow);}
  100% {background: none;}
}
@keyframes colorchange2 {
  0%   {background: none;}
  50%  {background: var(--green);}
  100% {background: none;}
}
